body {
	width: 100%;
	overflow-x: hidden !important;
}

#model {
	display: inline-block;
	position: absolute;
	width: 100%;
}

#canvas {
	display: none;
	bottom: 5px;
	left: 86px;
	position: absolute;
	z-index: 1;
}

.navbar:not(.top-nav-collapse){
	background: transparent;
}

.nav-link{
	color: #c3c3c3 !important;
}

.navbar .navbar-brand img {
	height: 40px;
	margin: 10px;
}

.heading {
	margin: 0 6rem;
	font-size: 3.8rem;
	font-weight: 700;
	color: #5d4267;
}

.subheading {
	margin: 2.5rem 6rem;
	color: #bcb2c0;
}

.btn.btn-margin {
	margin-left: 6rem;
	margin-top: 3rem;
}

.btn.btn-lily {
	background: linear-gradient(40deg, rgba(0, 51, 199, .7), rgba(209, 149, 249, .7));
	color: #fff;
}

.title {
	margin-top: 6rem;
	margin-bottom: 2rem;
	color: #5d4267;
}

.subtitle {
	color: #bcb2c0;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 6rem;
}

#btn-discover, #btn_scroll_to_top {
	background: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 100%);
}


* {
	box-sizing: border-box;
}

.img-comp-container {
	position: relative;
	width: 600px;
	height: 400px;
}

.img-comp-img {
	position: absolute;
	width: auto;
	height: auto;
	overflow: hidden;
	}

.img-comp-img img {
	display: block;
	vertical-align: middle;
}

.img-comp-slider {
	position: absolute;
	z-index: 9;
	cursor: ew-resize;
	width: 40px;
	height: 40px;
	background-image: linear-gradient(120deg,#fdfbfb 0,#ebedee 100%);
	opacity: 0.7;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
}

.scrollbar {
	float: left;
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.scrollbar-young-passion::-webkit-scrollbar-track {
	background-color: transparent;
}

.scrollbar-young-passion::-webkit-scrollbar {
	width: 0px;
	background-color: transparent; 
}

.scrollbar-young-passion::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: transparent; 
}

#div_scroll_to_top {
	bottom: 10px; 
	right: 10px; 
	z-index: 9999999;
}

#play {
	display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 100%);
}

#videoModal {
	overflow: hidden;;
}

section {
	height: 100vh;
}
