body {
	width: 100%;
	height: 400vh;
	overflow: hidden; 
}

#model {
  display: inline-block;
  position: absolute;
  width: 100%;
}

#canvas {
  display: none;
  bottom: 5px;
  left: 86px;
  position: absolute;
  z-index: 1;
}

.navbar {
	/*background-image: linear-gradient(to right, #ff817760 0%, #ff867a60 0%, #ff8c7f60 21%, #f9918560 52%, #cf556c60 78%, #b12a5b60 100%);*/
}

.navbar:not(.top-nav-collapse){
  background: transparent;
}

.nav-link{
	color: #c3c3c3 !important;
}

.navbar .navbar-brand img {
  height: 40px;
  margin: 10px;
}

.heading {
  margin: 0 6rem;
  font-size: 3.8rem;
  font-weight: 700;
  color: #5d4267;
}

.subheading {
  margin: 2.5rem 6rem;
  color: #bcb2c0;
}

.btn.btn-margin {
  margin-left: 6rem;
  margin-top: 3rem;
}

.btn.btn-lily {
  background: linear-gradient(40deg, rgba(0, 51, 199, .7), rgba(209, 149, 249, .7));
  color: #fff;
}

.title {
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #5d4267;
}

.subtitle {
  color: #bcb2c0;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 6rem;
}

#btn-discover {
	background: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 100%);
}

#page-slider {
	height: 300vh;
}


* {
	box-sizing: border-box;
}

.img-comp-container {
  position: relative;
  width: 900px;
  height: 600px;

}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-image: linear-gradient(120deg,#fdfbfb 0,#ebedee 100%);
  opacity: 0.5;
  border-radius: 50%;
}

.scrollbar {
	float: left;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.scrollbar-primary::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #4285F4;
}
.scrollbar-primary {
	scrollbar-color: #4285F4 #F5F5F5;
}

